.blue {
  background-color: blue;
  height: 300px;
}
.red {
  background-color: red;
  height: 300px;
}
.brown {
  background-color: brown;
  height: 300px;
}
.yellow {
  background-color: yellow;
  height: 300px;
}