body {
  background-color: blue;
  border: black;

}

table, tr, td {
    border: 10px solid black;
}

.carousel-indicators {
  display: block;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}